@model WebApplication.Models.DataElement

@{
    ViewData["Title"] = "Edit";
}

<h1>Редактировать</h1>

<h4>DataElement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Element" class="control-label"></label>
                <input asp-for="Element" class="form-control" />
                <span asp-validation-for="Element" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ElementInfo" class="control-label"></label>
                <input asp-for="ElementInfo" class="form-control" />
                <span asp-validation-for="ElementInfo" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsElement" /> @Html.DisplayNameFor(model => model.IsElement)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
